.FullPage{
    background-color:#0C101F ;
    border-radius: 0.2em;
    min-height: 100vh;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    color: #e3e7f6;
}

.navbar{
    background-color: rgb(255, 255, 255);
    min-height: 6.66vh;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 4rem;
}
.logo{
    border-radius: 1.8rem;
}
.navR{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}
.navProfile{

}
.navmenu{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    color: black;
}
@media only screen and (max-width: 55em){
    .navbar{
        padding-left:0.55rem;
        padding-right:0.5rem;
        gap:1rem;
    }
    .navmenu{
        gap:0.5rem;
    }
    .navR{
        gap:1rem;
    }
    .FullPage{
        min-width: 35em;
    }
}
