.FullPage{
    background-color: rgb(169, 248, 248);
    border-radius: 0.2em;
    min-height: 100vh;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}
